/*
 * Aori Admin Custom Stylesheet
 * To override default Bootstrap styles for Aori Admin Portal
 * 
 * @author Tang Ying Chun
 * @date 2025-10-10 (v1.1), 2025-10-12 (v1.1)
 * @version 1.0 - inital custom stylesheet
 * @version 1.1 - minor tweaks to button colors and branding
 */

/* Navbar */
.navbar {
    background-color: #f8f9fa !important; /* Override bg-white */
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

/* Brand Font and Colour for Aori*/ 
.navbar-brand {
    font-family: 'Aboreto', cursive;
    color: #212529 !important;      /* Override for branding*/
    font-size: 1.5rem;              
}

/* Custom Button Colors */
.btn-primary {
    background-color: #212529;
    border-color: #212529;
}

.btn-primary:hover {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:disabled {
    background-color: #e9ecef;
    border-color: #ced4da;     
    color: #6c757d;            
}

.btn-secondary {
    background-color: #6c757d;  
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

/* Font Weights for Headings */

h1, .h1 {
    font-weight: 400;
}

h2, .h2 {
    font-weight: 500;
}

h3, .h3 {
    font-weight: 600; 
}

/* Table Row Hover Effect */

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f5f5f5;
  color: var(--bs-table-hover-color);
}