/*
 * Aori Admin Custom Stylesheet
 * To override default Bootstrap styles for Aori Admin Portal
 * 
 * @author Ying Chun
 * @date 2025-10-10 
 * @version 1.0 
 */

/* Make the navbar a light gray and add a subtle shadow */
.navbar {
    background-color: #f8f9fa !important; /* Overrides bg-white */
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

/* Brand Font and Colour for Aori*/ 
.navbar-brand {
    font-family: 'Aboreto', cursive; /* Use Aboreto font */
    color: #212529 !important;      /* Set color to black/dark grey */
    font-size: 1.5rem;              /* Optional: Adjust font size */
}

/* Custom Button Colors */
.btn-primary {
    background-color: #212529;  /* Dark Grey/Black */
    border-color: #212529;
}

.btn-primary:hover {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-secondary {
    background-color: #6c757d;  /* Medium Grey */
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

/* Font Weights for Headings */

h1, .h1 {
    font-weight: 400;
}

h2, .h2 {
    font-weight: 500;
}

h3, .h3 {
    font-weight: 600; 
}

/* Table Row Hover Effect */

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #f5f5f5;
  color: var(--bs-table-hover-color);
}

/* Add your custom styles below */