<!--@author Ying Chun
	@date 2025-10-07
	@version 1.0
// Need to update fields, this is just a draft
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Aori Admin: Products</title>
	</head>
	<body>
		<h1>Product List</h1>
		<a th:href="@{/admin/product/new}">Create New Product</a>
		<table>
			<thead>
				<tr>Category</tr>
				<tr>Collection</tr>
				<tr>Product Name</tr>
				<tr>Price</tr>
				<tr>Actions</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.category"></td>
					<td th:text="${product.collection"></td>
					<td th:text="${product.name"></td>
					<td th:text="${product.price"></td>
					<td>
						<a th:href="@{'/admin/products/edit/' + ${product.id}}">Edit</a>
						<a th:href="@{'/admin/products/delete/' + ${product.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>